<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.springframework.org/tags/form">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Responsive Login and Signup Form </title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
<section class="container forms">
    <div class="form login">
        <div class="form-content">
            <header>Login</header>
            <div th:if="${param.error}">
                Invalid email or password.
            </div>
            <div th:if="${param.logout}">You have been logged out.</div>
            <form th:action="@{/process-login}" method="post">
                <div class="field input-field">
                    <input type="email" name="username" placeholder="Email" class="input">
                </div>

                <div class="field input-field">
                    <input type="password" name="password" placeholder="Password" class="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <div class="form-link">
                    <a href="#" class="forgot-pass">Forgot password?</a>
                </div>

                <div class="field button-field">
                    <button>Login</button>
                </div>
            </form>

            <div class="form-link">
                <span>Don't have an account? <a href="/api/v1/registration/register-form" class="link signup-link">Signup</a></span>
            </div>
        </div>

        <div class="line"></div>

        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>
        </div>

        <div class="media-options">
            <a href="/oauth2/authorization/google" class="field google">
                <img src="images/google.png" alt="" class="google-img">
                <span>Login with Google</span>
            </a>
        </div>

    </div>

    <!-- Signup Form -->



    <div class="form signup">
        <div class="form-content">
            <header>Signup</header>
            <form method="post" th:action="@{/api/v1/registration/register}" th:object="${request}"
                  onsubmit="return validatePasswords()">
                <div class="field input-field">
                    <input type="text" name="firstName" placeholder="First name" class="input" required minlength="2"
                           maxlength="20">
                </div>

                <div class="field input-field">
                    <input type="text" name="lastName" placeholder="Last name" class="input" required minlength="2"
                           maxlength="20">
                </div>

                <div class="field input-field">
                    <input type="email" name="email" placeholder="Email" class="input" required minlength="2"
                           maxlength="120">
                </div>

                <div class="field input-field" style="margin-bottom: 20px;">
                    <input type="password" name="password" id="password" placeholder="Create password"
                           class="password" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$"
                           required minlength="6" maxlength="20" onkeyup="validatePasswords()">
                    <div id="passwordError" class="error" ></div>
                </div>

                <div class="field input-field">
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password"
                           class="password" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$"
                           required minlength="6" maxlength="20" onkeyup="validatePasswords()">
                    <i class='bx bx-hide eye-icon'></i>
                    <div class="error"></div>
                </div>

                <div class="field button-field">
                    <button type="submit">Signup</button>
                </div>
            </form>

            <div class="form-link">
                <span>Already have an account? <a href="/login" class="link login-link">Login</a></span>
            </div>
        </div>
    </div>

    <script>
    function validatePasswords() {
        let passwordInput = document.getElementById("password");
        let confirmPasswordInput = document.getElementById("confirmPassword");
        let passwordError = document.getElementById("passwordError");
        let password = passwordInput.value;
        let confirmPassword = confirmPasswordInput.value;

        // Define regular expressions for each requirement
        let uppercaseRegex = /^(?=.*[A-Z])/;
        let lowercaseRegex = /^(?=.*[a-z])/;
        let digitRegex = /^(?=.*[0-9])/;
        let lengthRegex = /^.{6,}$/;

        if (password.length !== 0) {
            if (password === confirmPassword) {
                // Check each requirement individually
                if (!uppercaseRegex.test(password)) {
                    passwordError.textContent = "Need at least one uppercase letter";
                    passwordError.style.backgroundColor = "#ff4d4d";
                    return false; // Prevent form submission
                }
                if (!lowercaseRegex.test(password)) {
                    passwordError.textContent = "Need at least one lowercase letter";
                    passwordError.style.backgroundColor = "#ff4d4d";
                    return false; // Prevent form submission
                }
                if (!digitRegex.test(password)) {
                    passwordError.textContent = "Need at least one digit";
                    passwordError.style.backgroundColor = "#ff4d4d";
                    return false; // Prevent form submission
                }
                if (!lengthRegex.test(password)) {
                    passwordError.textContent = "Password should be at least 6 characters long";
                    passwordError.style.backgroundColor = "#ff4d4d";
                    return false; // Prevent form submission
                }

                // Password meets all requirements
                passwordError.textContent = "Passwords match";
                passwordError.style.backgroundColor = "#1dcd59";
            } else {
                passwordError.textContent = "Sorry, Passwords don't match";
                passwordError.style.backgroundColor = "#ff4d4d";
                return false; // Prevent form submission
            }
        } else {
            passwordError.textContent = "Password can't be empty!";
            passwordError.style.backgroundColor = "#ff4d4d";
            return false;
        }
    }
</script>
    <!--<script>
    function validatePasswords() {
        let passwordInput = document.getElementById("password");
        let confirmPasswordInput = document.getElementById("confirmPassword");
        let passwordError = document.getElementById("passwordError");
        let password = passwordInput.value;
        let confirmPassword = confirmPasswordInput.value;

        if (password.length !== 0) {
            if (password === confirmPassword) {
                passwordError.textContent = "Wow, Passwords match";
                passwordError.style.backgroundColor = "#1dcd59";
            } else {
                passwordError.textContent = "Sorry, Passwords don't match";
                passwordError.style.backgroundColor = "#ff4d4d";
                return false;
            }
        } else {

            passwordError.textContent = "Password can't be empty!";
            passwordError.style.backgroundColor = "#ff4d4d";
            return false;
        }

    }
</script>-->





</section>

<!-- JavaScript -->
<script src="js/script.js"></script>
</body>
</html>